<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Prymag_BannerSlider::top_level"
             title="Banner Slider"
             module="Prymag_BannerSlider"
             sortOrder="9999"
             resource="Magento_Backend::content" />
         <add id="Prymag_BannerSlider::level_1"
             title="Banners"
             module="Prymag_BannerSlider"
             sortOrder="0"
             action="prymag_bannerslider/banners"
             parent="Prymag_BannerSlider::top_level"
             resource="Magento_Backend::content" />
    </menu>
</config>